{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./uno.config.ts",
  "tailwindFunctions": ["clsx", "cn", "tv"]
}
